.card {
  position: relative;
  cursor: pointer;

  overflow: hidden !important;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    visibility: hidden;
    opacity: 0;
    border-radius: 7px;

    transition: 0.3s all ease-in-out;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
    border-radius: 7px;
  }

  .top,
  .bottom {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease-in-out;
    height: 0px;
    z-index: 2;
  }
  .top {
    top: 0;
  }
  .bottom {
    bottom: 0;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;

    .left {
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: salmon;
        position: relative;

        &::after {
          content: attr(data-name);
          position: absolute;
          top: -30px;
          left: 0;
          font-size: 13px;
          font-weight: 300;
          min-height: 20px;
          background-color: #222;
          display: none;
          white-space: nowrap;
          padding: .1rem .5rem;
          z-index: 3;
          border-radius: 7px;
        
        }

        &:hover::after {
          display: flex;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      span {
        width: 35px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        padding: .4rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          filter: invert(99%) sepia(5%) saturate(2324%) hue-rotate(275deg)
            brightness(119%) contrast(100%);
        }

        transition: .2s background-color ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
  &:hover {
    &::after {
      visibility: visible;
      opacity: 1;
    }

    .top,
    .bottom {
      visibility: visible;
      opacity: 1;
      height: 40px;
    }
  }
}
