@import "../../styles/variables.scss";

section.create {
  padding: 1rem;

  .wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2 {
      font-size: clamp(1.5rem, 5vw, 2rem);
      font-weight: 200;
      text-align: center;
      letter-spacing: clamp(0.1rem, 1vw, 0.5rem);
      margin-bottom: 1rem;
    }

    form.post-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .image-form {
        display: flex;

        input[type="text"] {
          width: 100%;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        button {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border: 0;
          border-left: transparent;
          background-color: #000;
          color: #fff;

          &:not(:disabled):hover {
            background-color: $primary-color;
            color: $secondary-color;
            letter-spacing: 0;
          }
        }
      }

      button {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        cursor: pointer;
        background-color: #fff;
        transition: all 0.3s ease-in-out;

        &:not(:disabled):hover {
          background-color: $secondary-color;
          color: #fff;
          letter-spacing: 3px;
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .image-con {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 512px;
        aspect-ratio: 16 / 9;
        border: 3px solid black;
        border-radius: 7px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      input[type="text"] {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        outline: none;
        transition: 0.3s ease-in-out;

        &:focus {
          border: 1px solid $secondary-color;
        }
      }
    }
  }
}
